*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

.DS_Store
user_guide/*

#codeigniter 3
app/logs/*
!app/logs/index.html
!app/logs/.htaccess
/vendor/
/assets/uploads/*
composer.lock
app/config/database.php
